.MapServices_section {
  max-width: 1300px;
  margin: auto;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.MapServices_section img {
  display: flex;
  width: 100%;
}

@media (max-width: 920px) {
  .MapServices_section {
    max-width: 90%;
    padding: 16px;
  }

  .MapServices_section h3 {
    font-size: 24px;
  }

  .MapServices_section p {
    font-size: 14px;
  }

  .MapServices_section img {
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  .MapServices_section {
    padding: 12px;
    max-width: 100%;
  }

  .MapServices_section h3 {
    font-size: 20px;
  }

  .MapServices_section p {
    font-size: 13px;
  }

  .MapServices_section img {
    max-width: 100%;
  }
}
