footer{
    background-color: #B2B2B233;
        
    padding-left: 214px; 
    padding-right: 150px;

    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    flex-direction: column;

}

footer section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer nav {
        display: flex;
    align-items: center;
    justify-content: space-between;
}