footer{
    background-color: #B2B2B233;
        
    padding-left: 10%; 
    padding-right: 10%;

    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    flex-direction: column;

}

footer section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer nav {
        display: flex;
    align-items: center;
    justify-content: space-between;
}

footer section h3{
    font-size: 30px;
    font-weight: 700;
}

footer p{
    font-size: 16px;
    font-weight: 500;
}

footer a{
    text-decoration: none;
    color: black;
}
