.design_section{
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.design_section__div{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
}

.design_section h2 {
    font-size: 48px;
    font-weight: 700;
    
}

.design_section > img {
   width: 100%; 
   height: 100%; 
}

/* Tablet (max-width: 920px) */
@media (max-width: 920px) {
    .design_section {
        max-width: 90%;
        padding: 16px;
        gap: 30px;
    }
    
    .design_section__div {
        gap: 8px;
    }
}

/* Mobile (max-width: 500px) */
@media (max-width: 500px) {
    .design_section {
        max-width: 100%;
        flex-direction: column;
        padding: 12px;
        gap: 20px;
    }
    
    .design_section__div {
        width: 100%;
        gap: 8px;
    }
}